*{
    box-sizing: border-box;
    background-color: rgb(49, 43, 37) ;
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify; 
    color: white;
}
.header{
    background-image: url("./header.jpg");
    opacity: 0.85;
    height: 324px;
    width: 100%;
    margin: 0 auto;
}

#title{
    background-color: rgb(49, 43, 37);
    width: 50%;
    height: 150px;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-style: italic;
    font-size: xx-large;
    padding: auto; 
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
    padding: 60px 0;
    position: absolute;
    right: 25%;
    top: 87px;
    display: flex;
}

body{
    justify-content: center;
    align-items: center;

}

body p{
    margin-right: 20px;
}

.bienvenue{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-justify: auto;
    font-size: larger;
}
.bienvenue h2{
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 30px;
}

.parcours{
    
    color: white;
    margin-top: 100px;
}

.parcours h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.parcours p{
    margin-left: 20px;
    font-size: larger;
}

#p1{
    height: 120px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}

.discours{
    
    color: white;
    margin-top: 100px;
}

.discours h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.discours p{
    margin-left: 20px;
    font-size: larger;
}

#p2{
    height: 127px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}
.infos{
    color: white;
    margin-top: 110px;
}

.infos h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.infos p{
    margin-left: 20px;
    font-size: larger;
}

#p3{
    height: 120px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}

.footer{
    position: relative;
    top: 200px;
    display: inline;
}

.footer p{
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
}

.footer a{
    width: 100%;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 60px;
}




/* Pour les pages parcours, info, etc on réutilise le header et le footer pour plus
de cohérence quand on change de page, en revanche je vais utiliser un code très 
similaire pour refaire la page parcours*/


.joail{
    
    color: white;
    margin-top: 100px;
}

.joail h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.joail p{
    margin-left: 20px;
    font-size: larger;
}

#p4{
    height: 120px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}

.mode{
    
    color: white;
    margin-top: 100px;
}

.mode h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.mode p{
    margin-left: 20px;
    font-size: larger;
}

#p5{
    height: 121px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}
.cosme{
    color: white;
    margin-top: 110px;
}

.cosme h2{
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}
.cosme p{
    margin-left: 20px;
    font-size: larger;
}

#p6{
    height: 121px;
    max-height: 320px;
    border-radius: 25px;
    border: 3px solid grey;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 3%;
    z-index:10;
    float: right;
    display: inline-block;
}




/* La partie suivante sera utilisée afin d'appliquer le style sur parcours
Joaillerie. Beaucoup de choses ont été réutilisées comme par exemple le
header où j'ai tout repris pour faire la même bannière. De même le formatage
du footer et du paragraphe d'intro sera la même*/


.choix{
    margin-top: 30px;
    margin-left: 10px;
    font-size: larger;
}
.choix ul{
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
}

.choix li {
    display: inline-block;
    background-color: black;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}

.choix a {
    text-decoration: none;
    background-color: black;
}

.element {
    margin-top: 1200px;
    margin-left: 10px;
    text-align: justify;
    margin-bottom: 100px
}

.element h2{
    margin-bottom: 20px;
}

.element audio{
    float: right;
    margin-right: 30px;
    width: 60%;
}

.element img{
    width: 250px;
    float: right;
    margin: 15px;
}

.element h3,
p{
    margin-top: 30px;
}

.element p{
    font-size: larger;
}

.element ul{
    margin-top: 40px;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
}

.element li{
    display: inline-block;
    background-color: black;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
    font-size: larger;
}

.element a {
    text-decoration: none;
    background-color: black;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    text-align: center;
}